/target/
/src/main/resources/input_day1.txt
/src/main/resources/input_b_day1.txt
/src/main/resources/test_day1.txt
/src/main/resources/test_b_day1.txt
/src/main/resources/input_day2.txt
/src/main/resources/
